<a href="https://colab.research.google.com/github/chiobiblessed/Music-preference-prediction/blob/main/Week_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

create a dictionary of name; age ; country

In [ ]:
data = {'Name': [ 'Charles', 'Ben', 'Oge', 'Williams', 'Valerie', 'Ashley', 'George', 'Obi'],
       'Age' :  [33, 40, 32, 45, 38, 33, 42, 33],
       'Country':['Uk', 'Poland', 'Nigeria','Australia','Egypt', 'France', 'Russia', 'Nigeria']}

Convert the dictionary into a pandas dataframe

In [ ]:
df = pd.DataFrame(data)

Display the dataframe to view its contents

In [ ]:
print (df)

TypeError: 'builtin_function_or_method' object is not subscriptable