<a href="https://colab.research.google.com/github/chiobiblessed/Music-preference-prediction/blob/main/Week_7_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a DataFrame named df from the following dictionary.
data = {'Name':['Alice','Bob', 'Charlie', None, 'Eve'],
'Age': [24, None, 22, 32, 29],
'City':['New York', 'Los Angeles', None, 'Houston', 'Phoenix'],
'Salary':[70,000,80,000,None, 120000, None]

In [2]:
import pandas as pd
data = {'Name':['Alice','Bob', 'Charlie', None, 'Eve'],
'Age': [24, None, 22, 32, 29],
'City':['New York', 'Los Angeles', None, 'Houston', 'Phoenix'],
'Salary':[70000,80000,0,120000,0]}
df = pd.DataFrame(data)

Use pandas function to display the DataFrame.

In [3]:
print (df)

      Name   Age         City  Salary
0    Alice  24.0     New York   70000
1      Bob   NaN  Los Angeles   80000
2  Charlie  22.0         None       0
3     None  32.0      Houston  120000
4      Eve  29.0      Phoenix       0

use pandas function to : count missing values in each column

In [4]:
df.isnull().sum()

Name      1
Age       1
City      1
Salary    0
dtype: int64

Create a new column salary_filled with salary values, filling missing salaries with the avaerage salary.

In [5]:
df['salary_filled'] = df['Salary'].fillna(df['Salary'].mean())
df

      Name   Age         City  Salary  salary_filled
0    Alice  24.0     New York   70000          70000
1      Bob   NaN  Los Angeles   80000          80000
2  Charlie  22.0         None       0              0
3     None  32.0      Houston  120000         120000
4      Eve  29.0      Phoenix       0              0